.chat-message.to {
  background-color: gray;
  color: #fff;
  padding: 10px;
}

.cursor::after {
  content: "";
  width: 12px;
  animation: cursor-blink 0.5s steps(2) infinite;
  height: 18px;
  margin-bottom: -2px;
  margin-left: 5px;
  background: yellow;
  display: inline-block;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
